@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --bg-black: black;
  --bg-white-blac: #0f0e0e;
  --bg-grey: rgba(153, 153, 153, 1);
  --bg-yellov: rgba(234, 255, 150, 1);
  --bg-white: white;
}
html,
bady {
  background-color: var(--bg-black);
  font-family: "Inter", "Roboto", "sans-serif";
}
.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/*  */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 20px;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  color: white;
}

.menu {
  display: none;
  padding: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin: 10px 0;
}

.menu ul li a {
  text-decoration: none;
  font-size: 18px;
}
#menu {
  display: flex;
}
/*  */
/*  LOADING*/
#loading {
  position: fixed;
  background-color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 1s;
}
#loading.loading-none {
  opacity: 0;
  z-index: -1;
}
@keyframes ldio-x2uulkbinbj {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-x2uulkbinbj div {
  box-sizing: border-box !important;
}
.ldio-x2uulkbinbj > div {
  position: absolute;
  width: 158.41px;
  height: 158.41px;
  top: 29.294999999999998px;
  left: 29.294999999999998px;
  border-radius: 50%;
  border: 6.51px solid #000;
  border-color: #ff0011 transparent #ff0011 transparent;
  animation: ldio-x2uulkbinbj 1.408450704225352s linear infinite;
}
.ldio-x2uulkbinbj > div:nth-child(2),
.ldio-x2uulkbinbj > div:nth-child(4) {
  width: 141.04999999999998px;
  height: 141.04999999999998px;
  top: 37.975px;
  left: 37.975px;
  animation: ldio-x2uulkbinbj 1.408450704225352s linear infinite reverse;
}
.ldio-x2uulkbinbj > div:nth-child(2) {
  border-color: transparent #0041ff transparent #0041ff;
}
.ldio-x2uulkbinbj > div:nth-child(3) {
  border-color: transparent;
}
.ldio-x2uulkbinbj > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-x2uulkbinbj > div:nth-child(3) div:before,
.ldio-x2uulkbinbj > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6.51px;
  height: 6.51px;
  top: -6.51px;
  left: 69.44px;
  background: #ff0011;
  border-radius: 50%;
  box-shadow: 0 151.9px 0 0 #ff0011;
}
.ldio-x2uulkbinbj > div:nth-child(3) div:after {
  left: -6.51px;
  top: 69.44px;
  box-shadow: 151.9px 0 0 0 #ff0011;
}

.ldio-x2uulkbinbj > div:nth-child(4) {
  border-color: transparent;
}
.ldio-x2uulkbinbj > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-x2uulkbinbj > div:nth-child(4) div:before,
.ldio-x2uulkbinbj > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6.51px;
  height: 6.51px;
  top: -6.51px;
  left: 60.76px;
  background: #0041ff;
  border-radius: 50%;
  box-shadow: 0 134.54px 0 0 #0041ff;
}
.ldio-x2uulkbinbj > div:nth-child(4) div:after {
  left: -6.51px;
  top: 60.76px;
  box-shadow: 134.54px 0 0 0 #0041ff;
}
.loadingio-spinner-double-ring-nq4q5u6dq7r {
  width: 217px;
  height: 217px;
  display: inline-block;
  overflow: hidden;
  background: #000000;
}
.ldio-x2uulkbinbj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-x2uulkbinbj div {
  box-sizing: content-box;
}
/* dropdavn */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4e4c4c;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.468);
  z-index: 1;
  border-radius: 5px;
}
.dropdown-content li {
  margin: 0;
}
.dropdown-content li a {
  color: #fff;
  padding: 5px 5px;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  transition: background-color 0.3s ease;
}
.dropdown-content li a:hover {
  background-color: #9a9a9a;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* NAV */
.nav {
  background-color: rgb(44, 44, 44);
  padding-top: 14px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  gap: 58px;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  transition: 0.5s;
  text-align: center;
  color: var(--bg-grey);
}
a:hover {
  text-decoration: none;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: center;
  color: rgb(0, 255, 98);
}
.nav-btn {
  button {
    padding: 6px 8px 10px;
    background-color: var(--bg-yellov);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    border: none;
    transition: 0.5s;
    border-radius: 4px;
  }
  button:hover {
    background-color: rgba(12, 171, 171, 0.653);
    cursor: pointer;
    box-shadow: rgb(255, 255, 255) 0px 0px 25px -1px;
    color: #fff;
  }
}
/* header */
.head {
  margin: 0 auto;
  padding-top: 40px;
  img {
    display: flex;

    max-width: 100%;
    margin: 0 auto;
  }
}
/* section  */
.section-text {
  padding-top: 152px;
  padding-bottom: 341px;
  h1 {
    font-family: Inter;
    font-size: 35px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.949999988079071px;
    margin: 0 auto;
    text-align: center;
    color: var(--bg-white);
  }
  p {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 1.600000023841858px;
    text-align: center;
    padding-top: 16px;
    margin: 0 auto;
    color: var(--bg-white);
    max-width: 569px;
  }
  h2 {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
    margin: 0 auto;
    padding: 31px 0 14px;
    color: var(--bg-white);
    max-width: 445px;
  }
}
.section-img {
  img {
    padding-top: 131px;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
  }
  .section-text01 {
    margin: 0 auto;
    .section-text-01-ul1 {
      display: flex;
      gap: 33px;
      justify-content: center;
      li {
        list-style-type: none;
        p {
          font-family: Inter;
          font-size: 17px;
          font-weight: 400;
          line-height: 20.57px;
          text-align: center;
          margin: 0 auto;
          transition: 1s;
          color: rgba(153, 153, 153, 1);
          padding-bottom: 15px;
        }
        p:hover {
          color: #3cff00;
          cursor: pointer;
          border-bottom: 1px solid rgb(255, 255, 255);
          transition: 1s ease;
        }
      }
    }
    p {
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 28.8px;
      text-align: center;
      margin: 0 auto;
      color: var(--bg-white);
      padding-top: 46px;
      max-width: 603px;
    }
  }
}
/* articl */
article {
  padding-top: 300px;
  padding-bottom: 40px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
  .article-text {
    p {
      font-family: Inter;
      font-size: 32px;
      font-weight: 400;
      line-height: 38.73px;
      letter-spacing: 1.899999976158142px;
      text-align: center;
      margin: 0 auto;
      max-width: 390px;
      color: var(--bg-white);
    }
    h1 {
      font-family: Roboto;
      padding-top: 14px;
      font-size: 67px;
      font-weight: 400;
      line-height: 104px;
      letter-spacing: 2.5999999046325684px;
      text-align: center;
      margin: 0 auto;
      color: var(--bg-white);
      max-width: 524px;
    }
    h6 {
      font-family: Roboto;
      font-size: 64px;
      font-weight: 400;
      line-height: 4px;
      letter-spacing: 2.5999999046325684px;
      color: var(--bg-white);
      text-align: center;
      margin: 0 auto;
      max-width: 100%;
    }
    h3 {
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 28.8px;
      text-align: center;
      margin: 0 auto;
      color: var(--bg-grey);
      padding-top: 40px;
      max-width: 434px;
    }
    h4 {
      font-family: Inter;
      font-size: 17px;
      font-weight: 400;
      line-height: 28.8px;
      text-align: center;
      margin: 0 auto;
      padding-top: 26px;
      max-width: 93px;
      color: rgba(227, 255, 115, 1);
    }
  }
}
/* aside */
aside {
  .aside-img {
    img {
      display: flex;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}
/* cards */
.cards {
  padding-bottom: 315px;
  .cards1 {
    h1 {
      font-family: Roboto;
      font-size: 48px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 1.2000000476837158px;
      margin: 0 auto;
      text-align: center;
      max-width: 432px;
      color: var(--bg-white);
    }
    h2 {
      font-family: Roboto;
      font-size: 48px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 1.2000000476837158px;
      text-align: center;
      margin: 0 auto;
      color: var(--bg-white);
      max-width: 258px;
    }
    h3 {
      font-family: Inter;
      padding-top: 28px;
      font-size: 17px;
      font-weight: 400;
      line-height: 28.8px;
      text-align: center;
      max-width: 357px;
      margin: 0 auto;
      color: var(--bg-grey);
      max-width: 357px;
    }
    h4 {
      font-family: Inter;
      font-size: 17px;
      font-weight: 400;
      line-height: 28.8px;
      text-align: center;
      color: var(--bg-grey);
      margin: 0 auto;
      padding-bottom: 80px;
      max-width: 306px;
    }
  }
}
.card-nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  .card_child1 {
    transition: 0.5s;
    width: 341px;
    height: 432px;
    background-color: rgba(21, 21, 21, 1);
    border-radius: 4px;
    img {
      display: flex;
      padding-top: 64px;
      padding-bottom: 15px;
      margin: 0 auto;
    }
    p {
      text-align: center;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 400;
      line-height: 28.8px;
      letter-spacing: 0.30000001192092896px;
      margin: 0 auto;
      color: var(--bg-white);
    }
    .p1 {
      font-family: Roboto;
      font-size: 24px;
      font-weight: 400;
      line-height: 28.8px;
      letter-spacing: 0.30000001192092896px;
      text-align: center;
      margin: 0 auto;
    }
    .p2 {
      font-family: Roboto;
      font-size: 24px;
      font-weight: 400;
      line-height: 28.8px;
      letter-spacing: 0.30000001192092896px;
      text-align: center;
      margin: 0 auto;
    }
    h1 {
      font-family: Inter;
      font-size: 15px;
      font-weight: 400;
      line-height: 25.6px;
      text-align: center;
      margin: 0 auto;
      color: var(--bg-grey);
      padding-top: 18px;
      max-width: 203px;
    }
  }
  .card_child1:hover {
    cursor: pointer;
    background-color: #a2b6f3;
    color: white;
    box-shadow: rgb(255, 0, 0) 0px 30px 60px -12px inset,
      rgb(0, 76, 255) 0px 18px 36px -18px inset;
    h1 {
      font-family: Inter;
      font-size: 15px;
      font-weight: 400;
      line-height: 25.6px;
      text-align: center;
      margin: 0 auto;
      color: rgb(7, 0, 0);
      padding-top: 18px;
      max-width: 203px;
    }
  }
}
/* card-one */
.cardone-text {
  h1 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1.2000000476837158px;
    text-align: center;
    color: var(--bg-white);
    padding-bottom: 85px;
    margin: 0 auto;
    max-width: 500px;
  }
}
/* CARD-I */
.card-I {
  padding-top: 476px;
  .cardone-text {
    h2 {
      font-family: Roboto;
      font-size: 48px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 1.2000000476837158px;
      margin: 0 auto;
      max-width: 553px;
      text-align: center;
      padding-bottom: 85px;
      color: var(--bg-white);
    }
  }
}
/* footer-nav */
.footer-nav {
  padding-bottom: 120px;
  padding-top: 343px;
  .footer-nav1 {
    .footer-nav-text {
      h1 {
        font-family: Roboto;
        font-size: 47px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 1.2000000476837158px;
        text-align: center;
        margin: 0 auto;
        max-width: 486px;
        color: var(--bg-white);
      }
      p {
        font-family: Inter;
        font-size: 17px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
        margin: 0 auto;
        color: var(--bg-grey);
        padding-top: 28px;
        max-width: 590px;
        padding-bottom: 40px;
      }
      button {
        padding: 12px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        border-radius: 4px;
        display: flex;
        transition: 0.5s;
        background-color: var(--bg-yellov);
        margin: 0 auto;
      }
      button:hover {
        cursor: pointer;
        color: rgb(44, 44, 255);
        background-color: #c3ffb1d5;
        box-shadow: rgb(0, 0, 0) 0px 0px 0px 3px, rgb(0, 0, 0) 0px 0px 0px 6px,
          rgb(0, 0, 0) 0px 0px 0px 9px, rgb(0, 0, 0) 0px 0px 0px 1px,
          rgb(255, 0, 0) 0px 0px 0px 10px;
      }
    }
  }
}
/* foooter-hedr */
.foooter-hedr {
  display: flex;
  max-width: 100%;
  .foooter-hedr1 {
    img {
      max-width: 100%;
    }
  }
  .foooter-hedr2 {
    img {
      max-width: 100%;
    }
  }
  .foooter-hedr3 {
    img {
      max-width: 100%;
    }
  }
  .foooter-hedr {
    img {
      max-width: 100%;
    }
  }
}
/* footer  */
.table {
  margin-top: 200px;
  padding-bottom: 352px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.table__1--h1 {
  width: 74px;
  height: 24px;
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: white;
}
.table__1--h1 {
  text-align: center;
  margin: 0 auto;
}
.table__1--p {
  width: 152px;
  height: 26px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
  color: #999999;
}
/* @media */
@media (max-width: 900px) {
  .foooter-hedr {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 1100px) {
  .card-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .card_child1 {
      margin: 0 auto;
    }
  }
}
@media (max-width: 1100px) {
  .card-I {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .card_child1 {
      margin: 0 auto;
    }
  }
}
@media (max-width: 1200px) {
  .nav-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .nav {
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .dropdown-content {
    display: none;

    background-color: #e300007a;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgb(0, 0, 0);
    z-index: 10000;
    border-radius: 5px;
  }
}
@media (max-width: 1060px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 475px) {
  .section-text01 {
    display: flex;
    flex-direction: column;
  }
  .section-text {
    padding-bottom: 40px;
  }
}
@media (max-width: 775px) {
  .hamburger {
    display: flex;
    position: relative;
    left: 200px;
  }
  .nav-1-img {
    display: flex;
    position: relative;
    right: 49px;
  }
  .nav-btn {
    display: flex;
    margin: 0 auto;
    button {
      display: flex;
      margin: 0 auto;
    }
  }
}
@media (max-width: 550px) {
  .section-text-01-ul1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
}
@media (max-width: 410px) {
  article {
    .article-text {
      h1 {
        font-family: Roboto;
        padding-top: 14px;
        font-size: 64px;
        font-weight: 400;
        line-height: 104px;
        letter-spacing: 2.5999999046325684px;
        text-align: center;
        margin: 0 auto;
        color: var(--bg-white);
        max-width: 524px;
      }
      h6 {
        font-family: Roboto;
        font-size: 64px;
        font-weight: 400;
        line-height: 104px;
        letter-spacing: 2.5999999046325684px;
        color: var(--bg-white);
        text-align: center;
        margin: 0 auto;
        max-width: 424px;
      }
      h3 {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
        margin: 0 auto;
        color: var(--bg-grey);
        padding-top: 40px;
        max-width: 434px;
      }
      h4 {
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
        margin: 0 auto;
        padding-top: 26px;
        max-width: 93px;
        color: rgba(227, 255, 115, 1);
      }
    }
  }
}
@media (max-width: 985px) {
  .table {
    display: flex;
    flex-direction: column;
  }
  .table__1 {
    margin: 0 auto;
  }
}
